<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 
  <meta name="author" content="Ginestra Ferraro, UI/UX Designer">
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:title" content="{{ site.title }}">
  -->
  {%- seo -%}
  <meta property="og:image" content="{{ 'assets/images/thatsmood-card.png' | relative_url }}">
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
  {%- feed_meta -%}
  <link rel="shortcut icon" href="{{ 'assets/images/gi-favicon.png' | relative_url }}" type="image/x-icon">
</head>
