---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "fonts";

/* Global */

.big {
    font-size: 2em;
    line-height: 2;
}

p {
    margin-bottom: .75rem;
}

.small {
    font-size: .875em;
}

.shout {
    margin: 0 auto;
    max-width: 450px;
}

.site-header {
    text-align: center;
}

.site-header,
.site-footer {
    background: white;
}

.statement {
    display: block;
    text-align: center;
}

/* Cards */

// .grid-container {
//     display: grid;
//     grid-gap: 15px 10px;
//     grid-template-columns: 1fr 1fr;
// }

// .item {
//     grid-column: 1 2;
// }

/* Headings */

h1, h2, h3 {
    line-height: 1.25;
    margin: 1rem 0 .25rem;
}

h1 {
    font-size: 2.25rem;
}

h2,
.post-content h2 {
    font-size: 1.5rem;
}

h3,
.post-content h3 {
    font-size: 1.25rem;
}

/* Images */

article {
    img {
        border: 3px solid $grey-color-light;
    }
}

.caption {
    color: $grey-color;
    font-size: .875rem;
    font-style: italic;
}

/* Links */

.active {
    border-bottom: 5px solid $grey-color-light;
}

/* Lists */

ul {
    margin: 1rem 2rem;
}

.tags {
    list-style: none;
    margin: 0;

    li {
        background: $accent-color;
        border-radius: 4px;
        display: inline-block;
        font-size: 12px;
        padding: 0 8px;
    }
}

/* Header */

header,
footer {
    a {
        text-decoration: none;
    }
}

.post-header {
    margin-bottom: 1rem;
}

.site-title {
    display: block;
}

/* Navigation */

nav {
    border-top: 1px solid $grey-color-light;
    display: block;
    text-align: center;

    a {
        text-decoration: none;
    }
}

/* Main */

article {
    line-height: 2 !important;
}

.page-heading,
.post-title {
    font-size: 2.25rem;
}

.post-link {
    color: $neutral-color !important;
    text-decoration: none;

    svg {
        fill: $neutral-color;
        width: 18px;
    }
}

.post-list {
    li {
        border-top: 1px solid $grey-color-light;
        padding-top: 8px;
    }
}

.post-meta {
    p {
        font-size: .875rem;
        line-height: 1.25;
        margin: 0;
    }

    svg {
        fill: $grey-color;
        margin-right: 8px;
        width: 12px;
    }
}

/* Footer */

/* Logo */

.dot {
    fill: $grey-color;
}

.gi {
    fill: $grey-color-dark;
}

.logo {
    background: $accent-color;
    border: 5px solid $grey-color-light;
    border-radius: 50%;
    height: 100px;
    margin: 1rem auto 0;
    width: 100px;

    svg {
        margin-top: 10%;
        max-height: 80%;
    }
}

/* Buttons */

button,
.button {
    background: lighten($neutral-color, 55%);
    border-radius: 2px;
    color: $neutral-color !important;
    padding: 4px 8px;

    text-decoration: none;

    &:hover {
        background: $neutral-color;
        color: white !important;
        text-decoration: none;
    }
}

/* Media queries */

// @media screen and (max-width: 640px) {
//     .grid-container {
//         grid-template-columns: 1fr;
//     }

//     .item {
//         grid-column: 1;
//     }
// }